
<html>
<head>
    <title>Registration</title>
</head>
<body>
Registration Page
<form action="submit.html" method="post" onsubmit="return myvalidation()">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" ><p id="username-error" ></p><br><br>
    
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" > <br><br>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" ><p id="password-error" ></p><br><br>
    
    <input type="submit" value="Register">
</form>
<script src="../js/myjs.js"></script>
</body>
</html>